USE [master]
GO
/****** Object:  Database [Manager]    Script Date: 6/6/2018 10:02:36 AM ******/
CREATE DATABASE [Manager]
 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Manager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Manager]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/6/2018 10:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Books]    Script Date: 6/6/2018 10:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] NOT NULL,
	[BookTitle] [nvarchar](50) NOT NULL,
	[BookPrice] [float] NOT NULL,
	[BookQuantity] [int] NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Courses]    Script Date: 6/6/2018 10:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] NOT NULL,
	[CourseName] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_dbo.Courses] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Items]    Script Date: 6/6/2018 10:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](30) NOT NULL,
	[UnitPrice] [float] NOT NULL,
 CONSTRAINT [PK_dbo.Items] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/6/2018 10:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](30) NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 6/6/2018 10:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[PublisherID] [int] NOT NULL,
	[PublisherName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Publishers] PRIMARY KEY CLUSTERED 
(
	[PublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Students]    Script Date: 6/6/2018 10:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] NOT NULL,
	[StudentName] [nvarchar](30) NOT NULL,
	[Address] [nvarchar](30) NOT NULL,
	[CourseID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Students] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Books] ([BookID], [BookTitle], [BookPrice], [BookQuantity]) VALUES (1, N'C++ .net', 5.5, 100)
INSERT [dbo].[Books] ([BookID], [BookTitle], [BookPrice], [BookQuantity]) VALUES (2, N'asp.net', 188, 2)
INSERT [dbo].[Books] ([BookID], [BookTitle], [BookPrice], [BookQuantity]) VALUES (3, N'C# 7', 50, 2)
INSERT [dbo].[Courses] ([CourseID], [CourseName]) VALUES (1, N'Web')
INSERT [dbo].[Courses] ([CourseID], [CourseName]) VALUES (2, N'Window')
INSERT [dbo].[Courses] ([CourseID], [CourseName]) VALUES (3, N'Mobility')
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([ItemID], [ItemName], [UnitPrice]) VALUES (9, N'abc', 3)
INSERT [dbo].[Items] ([ItemID], [ItemName], [UnitPrice]) VALUES (28, N'a', 32)
INSERT [dbo].[Items] ([ItemID], [ItemName], [UnitPrice]) VALUES (31, N'abc', 32)
SET IDENTITY_INSERT [dbo].[Items] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [UnitPrice], [Quantity]) VALUES (1, N'caphe', 100, 300)
INSERT [dbo].[Products] ([ProductID], [ProductName], [UnitPrice], [Quantity]) VALUES (2, N'vnmilk', 91, 40)
INSERT [dbo].[Products] ([ProductID], [ProductName], [UnitPrice], [Quantity]) VALUES (3, N'a', 1, 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
INSERT [dbo].[Publishers] ([PublisherID], [PublisherName]) VALUES (1, N'Nhà xuất bản Minh Khai')
INSERT [dbo].[Publishers] ([PublisherID], [PublisherName]) VALUES (2, N'Nhà xuất bản Quân Đội')
INSERT [dbo].[Publishers] ([PublisherID], [PublisherName]) VALUES (3, N'Nhà xuất bản Tiền Phong')
INSERT [dbo].[Students] ([StudentID], [StudentName], [Address], [CourseID]) VALUES (1, N'nguyen van ', N'Quận 1', 1)
INSERT [dbo].[Students] ([StudentID], [StudentName], [Address], [CourseID]) VALUES (2, N'tran van c', N'Quận 2', 1)
INSERT [dbo].[Students] ([StudentID], [StudentName], [Address], [CourseID]) VALUES (3, N'Pham van E', N'Quân 3', 2)
/****** Object:  Index [IX_CourseID]    Script Date: 6/6/2018 10:02:37 AM ******/
CREATE NONCLUSTERED INDEX [IX_CourseID] ON [dbo].[Students]
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Students_dbo.Courses_CourseID] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_dbo.Students_dbo.Courses_CourseID]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [CK_Books] CHECK  (([BookPrice]>=(0)))
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [CK_Books]
GO
/****** Object:  StoredProcedure [dbo].[spGetBookPriceByID]    Script Date: 6/6/2018 10:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spGetBookPriceByID]
(
   @BookID int,
   @Price float output
)
as
select @Price =  BookPrice from  Books 
where  BookID = @BookID
GO
/****** Object:  StoredProcedure [dbo].[spReturnBookPriceByID]    Script Date: 6/6/2018 10:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spReturnBookPriceByID]
(
  @BookID int  
)
AS
declare @BookPrice float
select @BookPrice = BookPrice from Books 
where BookID=@BookID
return @BookPrice

GO
/****** Object:  StoredProcedure [dbo].[spUpdateBookPriceByID]    Script Date: 6/6/2018 10:02:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spUpdateBookPriceByID]
(
   @BookID int
)
as
update Books 
set BookPrice = BookPrice * 2 
where  BookID = @BookID
GO
USE [master]
GO
